body {
  padding-top: 40px;
  font-family: 'Courier New', monospace;
  text-align: center;
}

#target {
  font-size: 48px;
  letter-spacing: 3px;
  margin-top: 200px;
}

.info {
  color: #ccc;
  font-size: 26px;
}